@font-face {
  font-family: "Lato";
  src: url("./font/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato_semibolt";
  src: url("./font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-bolt";
  src: url("./font/Lato/Lato-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #fff;
  color: #222;
  font-family: "Lato";
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main_container {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background: #222;
  height: 75px;
}

.menu {
  padding-top: 18px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_left_side {
  display: flex;
  justify-content: center;
  gap: 41px;
  align-items: flex-end;
}

.menu_right_side {
  display: flex;
  gap: 36px;
}

.header_button {
  background: #222;
  border: none;
  cursor: pointer;
}

.preview_back {
  background: #f1e4e6;
}

.preview {
  display: flex;
}

.preview_right_side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_side_text {
  width: 405px;
  max-height: 93px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.right_side_text h1 {
  font-family: "Lato-bolt";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.right_side_text p {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottom_text {
  display: flex;
}

.fashion {
  color: #f16d7f;
}

.categories {
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 90px;
}

.image_background {
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image_text h2 {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image_text p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category_image {
  width: 360px;
  height: 260px;
  background-size: 100% auto;
}

.woman_category {
  background-image: url("./img/woman_category.png");
}

.man_category {
  background-image: url("./img/man_category.png");
}

.kids_category {
  background-image: url("./img/kid_catregory.png");
}

.accesories_category {
  background-image: url("./img/accesories_category.png");
  width: 1140px;
  height: 180px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-bottom: 48px;
}

.items_text h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items_text p {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_text {
  display: flex;
  width: 360px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: #f8f8f8;
}

.card_text h3 {
  font-family: "Lato_semibolt";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_text p {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card_text h2 {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttom_in_bottom_of_page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  padding-bottom: 95px;
}

.buttom_in_bottom {
  width: 212px;
  height: 48px;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: 1px solid #f26376;
  cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .main_container {
    max-width: 770px;
  }

  .categories {
    gap: 19px;
  }

  .category_image {
    max-width: 232px;
    max-height: 168px;
  }

  .accesories_category {
    max-width: 735px;
    max-height: 116px;
  }

  .card_list {
    gap: 16px;
  }

  .right_side_text {
    max-width: 301px;
    max-height: 92px;
  }

  .right_side_text h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .right_side_text p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 350px;
  }

  .main_container {
    max-width: 375px;
  }

  .hidden {
    display: none;
  }

  .preview {
    justify-content: center;
  }

  .preview_right_side {
    height: 363px;
    max-width: 375px;
    justify-content: center;
  }

  .right_side_text {
    display: flex;
    flex-direction: column;
    max-width: 263px;
    max-height: 66px;
  }

  .right_side_text h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .right_side_text p {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .category_image {
    width: 343px;
    height: 248px;
  }

  .accesories_category {
    width: 350px;
    height: 111px;
    background-size: cover;
    background-position: center;
  }
}

.footer {
  background-color: #222224;
  height: 79px;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer_text {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_socil {
  display: flex;
  gap: 7.29px;
}

.social_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  height: 32px;
  background-color: #fff;
}

.features {
  background-color: #222224;
}

.features_content {
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fbfbfb;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  gap: 16px;
}

.feature h2 {
  padding-top: 12px;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature p {
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 360px;
}

.subscribe_section {
  background-image: url("./img/mounts.png");
  background-size: cover;
  height: 448px;
}

.subscribe_back {
  background: rgba(244, 244, 244, 0.7);
}

.subscribe_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 448px;
}

.sub_con_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.sub_con_left p {
  width: 359.449px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub_con_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 557px;
  height: 142px;
  color: #222224;
  line-height: 167.2%;
  gap: 30px;
}

.sub_con_right h2 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 10px;
}

.sub_con_right h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.subscribe {
  display: flex;
  flex-direction: row;
}

.input {
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.sub_button {
  display: flex;
  width: 85px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #f16d7f;
  border: none;
  padding-left: 8px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .features_content {
    height: 610px;
  }

  .subscribe_section {
    height: 693px;
  }

  .subscribe_content {
    padding-top: 64px;
    flex-direction: column;
    justify-content: start;
    height: 693px;
    gap: 64px;
  }
}

@media (max-width: 768px) {
  .features_content {
    height: 610px;
    gap: 0px;
  }

  .feature {
    gap: 14px;
  }

  .subscribe_section {
    height: 550px;
  }

  .subscribe_content {
    padding-top: 64px;
    flex-direction: column;
    justify-content: start;
    height: 550px;
    gap: 60px;
  }

  .sub_con_left p {
    width: 343px;
    font-size: 18px;
  }

  .sub_con_right {
    width: 341px;
    height: 123.081px;
  }

  .sub_con_right_text h2 {
    line-height: 153.2%;
    padding: 0px;
  }

  .sub_con_right_text h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.2%;
  }

  .footer {
    height: 143px;
  }

  .footer_info {
    height: 143px;
    flex-direction: column-reverse;
    justify-content: end;
  }

  .footer_socil{
    padding-bottom: 40px;
  }
}
